@use 'variables' as *

.banner-principal__img
  z-index: 1
.banner-principal-decorativo
  &-1
    animation: float1 3.8s ease-in-out infinite alternate
    position: absolute
    top: 15%
    left: -10%
    width: 40%
  &-2
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 30%
    right: 10%
    width: 20%



@keyframes rotation 
  from 
    transform: rotate(0deg)  
  to 
    transform: rotate(359deg)
@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)

@keyframes float2
  0%
    transform: translateX(20px)
  100%
    transform: translateX(0px)
@keyframes scale
  0%
    transform: scale(1)
  100%
    transform: scale(1.2)

.banner-principal
  .container.tarjeta
    background-image: url("../assets/curso/portada/fondo-banner-principal.png")
    background-size: 100% 100% !important
    background-position: center
    min-height: 520px
    @media (max-width: $bp-max-md)
      background-image: url("../assets/curso/portada/fondo-banner-principal-md.png") !important
    @media (max-width: $bp-max-xs)
      background-image: url("../assets/curso/portada/fondo-banner-principal-sm.png") !important

.banner-interno__fondo
  background-image: url("../assets/curso/portada/imgbaner.png") !important

.banner-principal__img 
  padding-bottom: 0 !important

.banner-principal__row .banner-principal__img
  width: 489.5px !important
  

.boton *, .boton--sm *,
.barra-avance__boton--regresar span
  color: $white !important
.banner-interno__titulo h1, .banner-interno__titulo h2, 
.banner-interno__titulo h3, .banner-interno__titulo h4, 
.banner-interno__titulo h5, .banner-interno__titulo h6
  color: $color-sistema-texto !important  

figcaption 
    font-weight: normal !important




/**************************************************************/
/***CUSTOM STYLES***/
/**************************************************************/
.p-full-width
  padding: 3rem 3.5rem!important
.bg-full-width
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
.bg-fondo
  &-1
    //background-image: url(../assets/curso/bg/3.svg)
.bg-color
  &-1
    background-color: $color-primario


/**************************************************************/
/*Media Queries*/  
/**************************************************************/

//// DESKTOP SMALL 1400--------------------------------------
@media screen and (max-width: $bp-min-xxl)
  .mb-cus
    margin-bottom: 2em  !important 

//// TABLET 992--------------------------------------
@media screen and (max-width: $bp-max-md)
  .mb-cus
    margin-bottom: 2em  !important  
  .col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
    width: 90% !important

  
 
  
//// TABLET MINI 768--------------------------------------
@media screen and (max-width: $bp-min-md)
  .mb-cus
    margin-bottom: 2em  !important  

  

//// MOBILE 576--------------------------------------
@media screen and (max-width: $bp-min-sm)
  .mb-cus
    margin-bottom: 2em  !important


.linea-tiempo-d.color-primario
  // --- ELEMENTOS GENERALES / NO SELECCIONADOS ---
  .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
    background-color: #F8CECE !important
    
  .linea-tiempo-d__item__content__title
    span
      color: #000 !important

  .linea-tiempo-d__item__number.tarjeta.tarjeta--gris
    background-color: #F8CECE !important
    span
      color: #000 !important

  // --- ELEMENTO SELECCIONADO (ACTIVO) ---
  .linea-tiempo-d__item--selected
    .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
      background-color: #D4FDF2 !important
      
    .linea-tiempo-d__item__number.tarjeta.tarjeta--gris
      background-color: #A82909 !important
      span
        color: #FFF !important
  
.cajon.color-primario
  background-color: #D4FDF2
.cajon.color-secundario
  background-color: #FDE6FF

.bg1
  background-color: #FDFFBD
.bg2
  background-color: #217365
.bg3
  background-color: #D4FDF2
.bg4
  background-color: #88FEDE
.bg5
  background-color: #F8CECE
.bg6
  background-color:  #FDE6FF
.bg7
  background-color: #ffffff
.bg8
  background-color: #FEE66F
.bg9
  background-image: url("../assets/curso/temas/bg/imgfondotarj.png")
  background-repeat: no-repeat
  p,h5
   color: black !important
.bg10
  background-color: #96FF9A
//BLOQUE TEXTO G
.bloque-texto-ggg-imagen.color-primario
  background-color: #D5F4F8
.bloque-texto-gg.color-primario
  background-color: #D5F4F8
.bloque-texto-gg__img 
  width: 25%
  position: absolute
  top: 0
  left: 0
  bottom: 0
  background-position: center
  background-size: cover

.bloque-texto-gg__img2
  width: 35%
  position: absolute
  top: 0
  left: 0
  bottom: 0
  background-position: center
  background-size: cover

.bloque-texto-gg
  position: relative
  display: flex
  justify-content: flex-end

.bloque-texto-gg__texto
  position: relative
  width: 75%
.bloque-texto-gg__texto2
  position: relative
  width: 65%
  
.bloque-texto-gg--inverso
  justify-content: flex-start

.bloque-texto-gg-imagen 
  .bloque-texto-gg__img
    width: 36%
  
  .bloque-texto-gg__texto
    width: 60%

.bloque-texto-gg
  @media (max-width: $bp-max-md)
    padding-top: 40% !important
    &__img
      width: 100% !important
      height: 50%
    &__texto
      margin-top: 40px !important
      width: 100% !important
    &__img1
      width: 100% !important
      height: 50%
    &__img2
      width: 25% !important
      height: 25%
    &__texto1
      margin-top: 40px !important
      width: 100% !important
    &__texto2
      margin-top: 0px !important
      width: 74% !important

  @media (max-width: $bp-max-xs)
    padding-top: 200px !important
    &__img
      height: 250px
    &__img1
      height: 250px
    

.bloque-texto-ggg
  position: relative
  display: flex
  justify-content: flex-end

.bloque-texto-ggg__texto
  position: relative
  width: 66%
  

.bloque-texto-gg--inverso 
  .bloque-texto-gg__img
    left: auto
    right: 0
.bloque-texto-gg__img1 
  width: 50%
  position: absolute
  top: 0
  left: 0
  bottom: 0
  background-position: center
  background-size: cover
.bloque-texto-gg__texto1
  position: relative
  width: 50%

.BG01
  background-image: url("../assets/curso/temas/bg/imgfondo.png")
  background-repeat: no-repeat
  background-position: cover
  margin-inline: -3.5rem !important
  @media (max-width: $bp-max-sm)
    margin-inline: -1.5rem !important

.BG02
  //background-image: url("../assets/curso/temas/bg/imgfondo3.png")
  background-repeat: no-repeat
  background-position: cover
  margin-inline: -3.5rem !important
  @media (max-width: $bp-max-sm)
    margin-inline: -1.5rem !important

.BG022
  background-image: url("../assets/curso/temas/bg/fondo22.png")
  background-repeat: no-repeat
  background-position: center 100%
  margin-inline: -3.5rem !important
  @media (max-width: $bp-max-sm)
    margin-inline: -1.5rem !important

table
  th
    background-color: #FDFFBD

.tarjeta--gris
  background-color: #F8CECE
.linea-tiempo-d__item--selected .linea-tiempo-d__item__content__title
  background-color: #D4FDF2
.linea-tiempo-d__item__content__slot
  background-color: #D4FDF2

.fa-chevron-right, .fa-chevron-left
  color:$color-acento-botones

.fa-house-medical-circle-check
  color: #EEC212 !important

.lista-ol li, .lista-ol--cuadro li, .lista-ul li, .lista-ul--separador li, .lista-ul--color li 
  display: flex

///////// T13 - Tarj1 --------------------------------------
.crd_hover_txt
  position: relative  
  padding: 0 !important
  overflow: hidden !important  
  &:hover    
    .crd_hover_txt--body   
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)

  .crd_hover_txt--body
    position: absolute
    padding: 1.5rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 3.85rem ))
    background-color: #F8CECE 
  
  @media (min-width:1200px) and (max-width:1400px)  
    .crd_hover_txt--body
      p
        font-size: 0.85em
.cruz
  display: flex !important
  justify-content: center !important

.tarjeta-avatar-b__img1
    min-width: 22%
    max-width: 22%

.tarjeta-avatar-b__img2
    min-width: 4%
    max-width: 20%